/* ==========================================================================
   #SHAME
   Very specific css and temporary css.
   ========================================================================== */

dt {
	font-weight: bold;
}

.content-header {
	min-height: 16rem;
}

/* fix the table for the sparql querier */

table.dataTable tbody td,
table.dataTable tbody th {
	min-width: 2rem;
}

.yasgui .controlbar {
	justify-content: flex-end;
	margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  display: none !important;
}

/* doc views styling */

.au-c-main-container {
	height: calc(100vh - 4.2rem);
	// overflow: hidden;
}

.au-o-box--alt {
	background-color: $au-gray-100;
	border: 1px solid $au-gray-200;
}